.workspace {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "header header header header"
    "chat-list messenger messenger messenger";
}
